.recipe-detail-page {
    background-color: #EFDAC1;
    padding: 20px 0;
    margin-bottom: 100px;
    font-family: "Source Serif 4", serif;
}

.header-div{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #D9C1A0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.recipe-buttons{
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin: 10px;
}
  
.recipe-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 5px;
}
  
.recipe-buttons .back-button {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    max-width: 80px;
    margin-left: 0;
}

  
.recipe-title {
    display: flex;
    align-items: center;
}
  
.chef-logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
  
.title {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}
  
.edit-button {
    margin-left: auto;
    font-size: 16px;
    background: #3A4D57;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.recipe-detail-page .recipe-section{
    margin-top: 140px;
}
  
.recipe-detail-page .recipe-image {
    width: 100vw;
    border-radius: 10px;
}
  
.recipe-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.recipe-detail-page .tags {
    display: flex;
    flex-wrap: wrap;
}
  
.tag {
    background-color: #EFBBA1;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
}
  
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}


.cooktime-secton{
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: flex-start;
    margin: 0;
}


.clock-icon{
    font-size: 30px;
    margin: 0 10px;
}

.cooktime-secton .times-headers{
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin: -20px 0;
}

.cooktime-secton .times-headers p{
    margin-right: 20px;
}

.times{
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin: -30px 50px;
}

.times p{
    margin-right: 13px;
    font-size: 13px;
}

.servings{
    margin-top: 5px;
    margin-left: 12px;
  }
  
.servings, .sub-section {
    margin-bottom: 10px;
  }

  
.share-button {
    font-size: 16px;
    background: #3A4D57;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: -25px;
    margin-left: 12px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-content: center;
    align-items: center;
}

.share-button .share-icon{
    margin-left: 5px;
}

.sub-section h3{
    text-transform: uppercase;
    margin: 0px 12px;
}

.sub-section{
    margin: 0;
}

.description span{
    margin-left: 10px;
}

.ingredients{
    margin-top: 10px;
}
.custom-line {
    border: none;
    border-top: 2px solid black;
    margin: 20px 0;
    width: 100vw;
  }

.recipe-ingredients,
.recipe-instructions {
  margin-top: 20px;
}

.recipe-ingredients h2,
.recipe-instructions h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.add-to-list {
  background-color: #EFBBA1;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
  color: black;
}

.recipe-ingredients ul,
.recipe-instructions ol {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}

.recipe-ingredients li,
.recipe-instructions li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.icon-available {
  color: green;
  margin-right: 10px;
}

.icon-unavailable {
  color: red;
  margin-right: 10px;
}

.instruction-step {
  font-weight: bold;
  margin-right: 10px;
}